.game-container{
    display: grid;
    grid-template-columns: 25vw auto auto auto  ;
    grid-gap: 5px;
    height: 100vh;
background-color: rgb(128, 122, 122);
   .board-container{
    grid-column:2/ span 4;
background-color: white;
background-image:url('../assets/cloudBg.jpg') ;
background-repeat: no-repeat;
background-size: cover;

   } 
   .score-container{
    background-image:url('../assets/cloudBg.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;

   }
}