<div class="details-container title">
    <div class="">{{'Name: '+name}}</div>
    <div class="">{{"Score: "+score}}</div>
    <div class="">{{"Highest Score: "+highestScore}}</div>

</div>
<div class="father-game-container">
<div class='game-container'>
    <div class="">
        <div class="button-container"> <button [disabled]='isSequenceOn|async' (click)="onGameStart()">Start Game</button>
        </div>

        <div class='bulb-container'>
            <div *ngFor="let color of bulbsColor">
                <app-light-bulb [themeColor]="color"></app-light-bulb>
            </div>
        </div>
        <div class="quit-button">
            <button (click)='onQuit()'>Quit</button>
        </div>
        <div *ngIf='message' class="message" [ngClass]="message!=='WELL DONE!'?'wrong':'currect'">{{message}}</div>
    </div>

</div></div>