button {
    width: 150px;
    height: 30px;
    background-color: blueviolet;
    color: white;
}
button:disabled,
button[disabled] {
    background-color: rgb(206, 175, 235) !important;
}
.title {
    margin-top: 0;
    background-color: blueviolet;
    color: white;
    padding-top:7px;
    padding-bottom: 7px;
    padding: 7px 4px 7px 4px;
}

@media only screen and (max-width: 700px) {
    html {
       
        .shrink-on-phone {
            -webkit-transform: scale(0.7);
            -moz-transform: scale(0.7);
            -ms-transform: scale(0.7);
            transform: scale(0.7);
        }
        .d-none-on-phone {
            display: none !important;
        }
        .game-container {
            grid-template-columns: repeat(2, 1fr) !important;
         
        }
        .bulb-container {
            width: 200px !important;
        }
    }
}
